{% extends "base.html" %}

{% block title %}TEI Dictionnaire{% endblock %}

{% block content %}
    <form class="contact2-form validate-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

					<span class="contact2-form-title">
						JSON to TEI
					</span>
                    <div id="uploadiv">
                            <input  type="file" name="jsonFile" required>
                        {% if error %}
                            <p>There is a probleme with the file you sent.</p>
                        {% else %}
                            <p>Drag your file here or click in this area.</p>
                        {% endif %}
                    </div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" type="submit">
								Upload
							</button>
						</div>
					</div>
    </form>
{% endblock %}